@charset "UTF-8";

html{
    font-size: 0.5208vw;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

main{
    overflow: hidden;
}

ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #202253;
}

h1{
    font-size: 5rem;
    font-weight: 300;
    margin: 0;
}

h2{
    font-size: 5rem;
    font-weight: 300;
    margin: 0;
}

h3{
    font-size: 4rem;
    font-weight: 300;
    margin: 0;
}

h4{
    font-size: 2rem;
    margin: 0;
}

small{
    font-size: 1.5rem;
    color: #9093BB;
}

p{
    font-size: 2rem;
    color: #404040;
    line-height: 300%;
}

details summary {
    list-style: none;
    cursor: pointer;
    position: relative;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary img{
    position: absolute;
    right: 2rem;
    height: 3.5rem;
}

details[open] ul {
    animation: fadeIn 0.5s ease;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0; /* 透明 */
      transform: translateY(-10px); /* 上から表示 */
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

.f_yumin {
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif
}

.title_small{
    margin-left: 2rem;
    width: 10.5rem;
    transform: translateY(.5rem);
}

.pc_only{
    display: block;
}

.sp_only{
    display: none;
}

.pc_flex{
    display: flex;
}

.sp_flex{
    display: none;
}

.pc_inline{
    display: inline;
}

/* ヘッダー */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    height: 7rem;
    z-index: 10000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

header .wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    margin: auto;
    padding: .5rem 0;
}

header .wrap .header_logo{
    height: 5rem;
    width: auto;
}

header .wrap .header_nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    margin-top: 1.5rem;
}

header .wrap .header_nav a{
    color: black;
    font-size: 1.8rem;
    position: relative;
}

header .wrap .header_nav a::after{
    position: absolute;
    content: "";
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom: -1.5rem;
    height: .1rem;
    width: 110%;
    background: black;
    opacity: 0;
    transition: all .3s ease-in-out;
}

header .wrap .header_nav a:hover::after{
    bottom: -.5rem;
    opacity: 1;
    transition: all .3s ease-in-out;
}

header .wrap .header_nav .is_current{
    position: relative;
}

header .wrap .header_nav .is_current::after{
    position: absolute;
    content: "";
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: .1rem;
    width: 110%;
    background: black;
    bottom: -.5rem;
    opacity: 1;
}

.header_nav > li{
    position: relative;
    width: 13rem;
    text-align: center;
}

.header_nav li ul{
    background: white;
    margin-top: 1.6rem;
    margin-left: -5rem;
    width: 24rem;
}

.header_nav li li {
    height: 0;
    overflow: hidden;
    background: white;
    transition: .5s;
}


.header_nav li:hover > ul > li {
    height: 5rem;
    transform: translateY(50%);
    overflow: visible;
    text-align: center;
}

header .wrap .head_contact{
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: .5rem;
    color: black;
    font-size: 1.5rem;
    transition: all .2s ease-in-out;
    margin-top: 1.5rem;
}

header .wrap .head_contact:hover{
    color: white;
    background: black;
    transition: all .2s ease-in-out;
}

header .wrap #is_current small{
    color: white;
}

header .wrap #is_current{
    color: white;
    background: black;
    transition: all .2s ease-in-out;
}

header .wrap .head_contact:hover small{
    color: white;
    transition: all .2s ease-in-out;
}

header .wrap .head_contact img{
    height: 1.2rem;
}

header .wrap .entry_link{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 23%;
}

header .wrap .entry_link a{
    text-align: center;
    width: 43%;
    margin-top: 0;
}

header .wrap .entry_link small{
    font-size: 1rem;
    color: black;
    transition: all .2s ease-in-out;
}

#kv{
    color: white;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/about/kv.png") center center/cover no-repeat;
    margin-bottom: 10rem;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif
}

/* メディア掲載 */
#media{
    width: 100%;
    background: url("../img/media_bg.jpg") center center/cover no-repeat;
    position: relative;
    padding: 5rem 0;
}

#media .media_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

#media .media_content h2{
    color: black;
    border-right: 1px solid #707070;
    padding-right: 2rem;
}

#media .media_content .media_link{
    padding-left: 2rem;
}

#media .media_content h4{
    color: black;
    position: relative;
    transition: all .2s ease-in-out;
}

#media .media_content h4:hover{
    color: #474fa3;
    transition: all .2s ease-in-out;
}

#media .media_content h4::before{
    position: absolute;
    content: "";
    width: 2rem;
    height: 1.8rem;
    top: 0;
    left: 12rem;
    background: url("../img/media_arrow.svg") center center/cover no-repeat;
}

#media img{
    position: absolute;
    right: 10rem;
    top: 10%;
    width: 41rem;
}

/* foot_contact */

.footer_contact {
    overflow: hidden;
    width: 100%;
    min-width: 1200px;
    position: relative;
    height: 11rem;
    background: #f7f9ff;
}
.footer_contact:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #f7f9ff;
    z-index: -1
}
.footer_contact:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #d1dadc;
    z-index: -1
}
.footer_inner {
    width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.footer_contact_txt {
    width: 70%;
    background-color: #f7f9ff;
    font-size: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_contact_txt span {
    display: inline-block;
    margin-right: 3rem;
    font-size: 3.8rem;
    vertical-align: middle
}

.footer_contact_link {
    width: 50%;
    position: absolute;
    top: 0;
    left: calc(50% + 23rem);
    background-color: #fafafb;
    height: 100%;
    box-sizing: border-box;
}
.footer_contact_link a {
    height: 100%;
    width: 100%;
    display: inline-block;
    padding-top: 36px;
    padding-left: 60px
}
.btn_contact:hover .btn .arrow {
    background-color: #8484a7
}
.btn_contact:hover .btn .arrow:after {
    background-color: #8484a7
}
.btn {
    display: inline-block;
    padding-right: 150px;
    margin-right: -50px;
    position: relative;
    color: #202253;
    font-size: 27px;
    line-height: 0.5;
    font-family: serif;
    font-weight: 600;
    letter-spacing: 3px;
}
.btn:hover .arrow {
    background-color: #8484a7
}
.btn:hover .arrow:after {
    background-color: #8484a7
}
.btn.white .arrow {
    background-color: #fff
}
.btn.white .arrow:after {
    background-color: #c0f1ff
}
.btn .arrow {
    position: absolute;
    bottom: 0;
    right: 50px;
    display: inline-block;
    height: 1px;
    width: 90px;
    background-color: #0c2041;
    transition: all .6s cubic-bezier(.83, 0, .06, 1)
}
.btn .arrow:after {
    position: absolute;
    right: -2px;
    bottom: 5px;
    content: "";
    width: 15px;
    height: 1px;
    background-color: #0c2041;
    transform: rotate(50deg)
}
.btn_contact:hover {
    box-shadow: inset -8px -7px 8px 9px #7b7575;
}
.btn_contact:hover .arrow {
    right: 0;
    width: 140px
}
.btn_more {
    cursor: pointer
}
.btn_more:hover .arrow {
    right: 0;
    width: 140px
}

/* フッター */
footer{
    background: #000000;
    color: white;
}

footer p{
    color: white;
}

footer .wrap{
    width: 95%;
    margin: auto;
}

footer .wrap .footer_top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5rem 0;
    border-bottom: 1px solid white;
}

footer .wrap .footer_top a img{
    width: 20rem;
    transition: all .2s ease-in-out;
}

footer .wrap .footer_top a img:hover{
    opacity: .5;
    transition: all .2s ease-in-out;
}

footer .wrap .footer_top .footer_nav{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 60%;
}

footer .wrap .footer_top .footer_nav div{
    width: 15%;
}

footer .wrap .footer_top .footer_nav div ul{
    padding-left: .5rem;
    list-style: none;
}

footer .wrap .footer_top .footer_nav div ul li{
    margin: 1.5rem 0;
}

footer .wrap .footer_top .footer_nav a{
    color: white;
    font-size: 2rem;
    transition: all .2s ease-in-out;
}

footer .wrap .footer_top .footer_nav a:hover{
    opacity: .7;
    transition: all .2s ease-in-out;
}

footer .wrap .footer_top .footer_nav ul a{
    font-size: 1.3rem;
}

footer .wrap .footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 5rem 0;
}

footer .wrap .footer_bottom .foot_right{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
}

footer .wrap .footer_bottom .foot_right img{
    width: 45rem;
    transition: all .2s ease-in-out;
}

footer .wrap .footer_bottom .foot_right img:hover{
    opacity: .5;
    transition: all .2s ease-in-out;
}

footer .wrap .footer_bottom .foot_right .right_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 40%;
    height: 100%;
}

footer .wrap .footer_bottom .foot_right .right_content .bottom_nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

footer .wrap .footer_bottom .foot_address a{
    color: white;
    font-size: 1.5rem;
}

footer .wrap .footer_bottom .foot_address a:hover{
    opacity: .5;
    transition: all .2s ease-in-out ;
}

footer .wrap .footer_bottom .foot_right .right_content .bottom_nav a{
    color: white;
    font-size: 1.5rem;
    transition: all .2s ease-in-out;
    margin-left: 7.5rem;
}

footer .wrap .footer_bottom .foot_right .right_content .bottom_nav a:hover{
    opacity: .7;
    transition: all .2s ease-in-out;
}

footer .wrap .footer_bottom p{
    font-size: 1.5rem;
}

@media screen and (max-width: 1190px){
    .footer_contact {
        overflow: hidden;
        width: 100%;
        position: relative;
        min-width: unset;
        height: auto;
    }
    .footer_contact:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: #eaf0f0;
        z-index: -1
    }
    .footer_contact:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: #f7f9ff;
        z-index: -1
    }
    .footer_inner {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .footer_contact_txt {
        width: 100%;
        background-color: #f7f9ff;
        padding-bottom: 20px;
        text-align: center;
        font-size: 14px;
        padding-top: 20px;
        box-sizing: border-box;
        position: relative
    }
    .footer_contact_txt:before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 50%;
        width: 12px;
        height: 12px;
        transform: rotate(-45deg);
        background-color: #f7f9ff;
        margin-left: -6px
    }
    .footer_contact_txt span {
        display: block;
        margin: 0 auto 14px;
        font-size: 22px
    }
    .footer_contact_txt img {
        display: block;
        margin: 0 auto 14px;
        height: 16px
    }
    .footer_contact_txt p {
        padding: 0;
        line-height: 20px
    }
    .footer_contact_txt p span {
        margin-bottom: 10px
    }
    .footer_contact_link {
        width: 100%;
        background-color: #e1e1e8;
        box-sizing: border-box;
        text-align: center;
        position: unset;
    }
    .footer_contact_link a {
        height: 100%;
        width: 100%;
        display: inline-block;
        padding: 23px 0 23px
    }
    .btn {
        display: inline-block;
        padding-right: 150px;
        margin-right: -50px;
        position: relative
    }
    .btn .arrow {
        position: absolute;
        bottom: 0;
        right: 50px;
        display: inline-block;
        height: 1px;
        width: 90px;
        background-color: #0c2041;
        transition: all .8s cubic-bezier(.83, 0, .06, 1)
    }
    .btn .arrow:after {
        position: absolute;
        right: -3px;
        bottom: 5px;
        content: "";
        width: 15px;
        height: 1px;
        background-color: #0c2041;
        transform: rotate(50deg)
    }
    .btn_contact {
        z-index: 1000
    }
    .btn_more {
        cursor: pointer
    }
    .btn_more:hover .arrow {
        right: 0;
        width: 140px
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    html{
        font-size: 0.8208vw;
    }

    main{
        margin-top: 7rem;
    }

    .pad_none{
        display: none !important;
    }

    header .wrap .entry_link{
        width: 30%;
    }

    header .wrap .header_nav{
        padding: 0;
        width: 50%;
        margin-top: 2rem;
    }

    header .wrap .header_logo{
        height: 4rem;
        margin-top: 1rem;
    }

    .header_nav > li{
        width: 8rem;
    }

    .header_nav li ul{
        margin-left: -7.5rem
    }

    #media{
        padding: 2rem 0;
    }

    #media .wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
    }

    #media .media_content{
        flex-direction: row;
        align-items: center;
    }

    #media img{
        position: relative;
        width: 42%;
        right: unset;
        top: unset;
    }

    #media .media_content h2{
        font-size: 3rem;
        padding-right: 2rem;
        margin-right: 2rem;
    }

    #media .media_content .media_link{
        padding: 0;
        margin-top: 1rem;
    }

    #media .media_content .media_link p{
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    footer .wrap .footer_top{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    footer .wrap .footer_top .footer_nav{
        width: 67%;
    }

    footer .wrap .footer_top .footer_nav div{
        width: 20%;
    }

    footer .wrap .footer_bottom .foot_right img{
        width: 35rem;
    }

    footer .wrap .footer_bottom .foot_right .right_content{
        width: 45%;
    }

    footer .wrap .footer_bottom{
        padding-bottom: 5rem;
    }

    #kv{
        margin-bottom: 8rem;
    }
}

@media screen and (min-width:768px) and (max-width:769px){
    html{
        font-size: 0.8208vw;
    }

    .pad_none{
        display: none !important;
    }

    header{
        height: 7rem;
    }

    header .wrap .entry_link{
        width: 32%;
    }

    header .wrap .header_nav{
        padding: 0;
        width: 50%;
    }

    .header_nav > li{
        width: 8rem;
    }

    header .wrap .header_nav{
        margin-top: 1.5rem;
    }

    header .wrap .head_contact{
        margin-top: 1.3rem;
    }

    .header_nav li ul{
        margin-left: -7.5rem
    }

    #media{
        padding: 2rem 0;
    }

    #media .wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
    }

    #media .media_content{
        flex-direction: row;
        align-items: center;
    }

    #media img{
        position: relative;
        width: 42%;
        right: unset;
        top: unset;
    }

    #media .media_content h2{
        font-size: 3rem;
        padding-right: 2rem;
        margin-right: 2rem;
    }

    #media .media_content .media_link{
        padding: 0;
        margin-top: 1rem;
    }

    #media .media_content .media_link p{
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    footer .wrap .footer_top{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    footer .wrap .footer_top .footer_nav{
        width: 80%;
    }

    footer .wrap .footer_top .footer_nav div{
        width: 20%;
    }

    footer .wrap .footer_bottom .foot_right img{
        width: 35rem;
    }

    footer .wrap .footer_bottom .foot_right .right_content{
        width: 45%;
    }

    footer .wrap .footer_bottom{
        padding-bottom: 5rem;
    }

    #kv{
        margin-bottom: 8rem;
    }
}

@media screen and (max-width: 767px){    
    html{
        font-size: 1.8208vw;
    }

    h3{
        font-size: 3.5rem;
    }

    p{
        line-height: 200%;
    }

    .pc_only{
        display: none;
    }
    
    .sp_only{
        display: block;
    }
    
    .pc_flex{
        display: none !important;
    }
    
    .sp_flex{
        display: flex;
    }

    .pc_inline{
        display: none;
    }

    .title_small{
        margin-left: 0rem;
        width: 15.5rem;
        transform: translateY(0rem);
    }
    
    header{
        position: fixed;
        width: 100%;
        top: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    }

    header .wrap{
        padding: 0;
        margin: 0;
        width: 100%;
    }

    header nav ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    header .header_logo{
        height: 6rem;
        margin-top: .8rem;
        margin-left: 1rem;
    }

    header nav ul li a, summary{
        font-size: 3rem;
    }

    #nav{
        padding: 7rem 0 0 0;
        position: fixed;
        min-height: calc(100vh - 7rem);
        width: 100%;
        right: -100%;
        top: 0;
        background: white;
        transition: all .7s ease-in-out;
        z-index: 1;
        opacity: 0;
        overflow: scroll;
        line-height: 1.2;
    }

    .nav_wrap{
        overflow: scroll;
    }


    #nav h3{
        font-size: 3rem;
        position: absolute;
        top: 1.8rem;
        left: 2rem;
    }

    #nav .media_arrow{
        height: 2rem;
        margin-left: .5rem;
    }

    #nav h3::before{
        position: absolute;
        content: "";
        top: 50%;
        right: -8rem;
        height: .5px;
        width: 6rem;
        background: #07192F;
    }

    #nav .nav_top{
        background: #07192F;
    }

    #nav .nav_top ul{
        width: 90%;
        margin: auto;
    }

    #nav .nav_top ul li{
        padding: 3rem 2rem;
    }
    
    #nav .nav_top ul li a, summary{
        color: white;
    }

    #nav ul .border{
        border-bottom: 1px solid white;
    }

    #nav .nav_bottom{
        width: 90%;
        margin: auto;
        padding: 3rem 0;
    }

    #nav .nav_bottom div{
        padding-left: 2rem;
    }

    #nav .nav_bottom .nav_logo{
        height: 7rem;
        margin-bottom: 3rem;
    }

    #nav .nav_bottom p{
        font-size: 1.7rem;
        margin: 0;
        padding: 0;
    }

    #nav .nav_bottom .link{
        border-top: 1px solid #07192F;
        border-bottom: 1px solid #07192F;
        margin: 3rem 0;
        padding: 3rem 2rem;
    }

    #nav .nav_bottom div li{
        padding: .5rem 0;
    }

    #nav .nav_bottom div li a{
        font-size: 1.7rem;
        color: #07192F;
    }

    #hamburger {
        width: 8rem;
        height: 7rem;
        transition: all 1s ease-out;
        background: #07192F;
        position: relative;
        z-index: 1;
    }


    .inner_line {
        display: block;
        position: absolute;
        left: 2rem;
        width: 4.5rem;
        height: 3px;
        background-color: white;
        transition: all 1s ease-out;
    }

    #line1 {
        top: 30%;
    }

    #line2 {
        top: 45%;
    }

    #line3 {
        bottom: 30%;
        width: 3rem;
    }

    .in{
        transform: translateX(-100%);
        opacity: 1 !important;
    }

    .line_1,.line_2,.line_3{
        background: white;
        z-index: 100;
    }

    .line_1 {
        transform: translateY(1.2rem) rotate(-45deg);
        top: 0;
    }

    .line_2 {
        opacity: 0;
    }
    
    .line_3 {
        transform: translateY(-1.2rem) rotate(45deg);
        bottom: 0;
        width: 4.5rem !important;
    }

    #kv{
        height: 13rem;
        margin-bottom: 5rem;
    }

    main{
        margin-top: 7rem;
    }

    #media{
        padding: 2rem 0;
    }

    #media .wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: auto;
    }

    #media .media_content{
        flex-direction: column;
        align-items: flex-start;
    }

    #media img{
        position: relative;
        width: 60%;
        right: unset;
        top: unset;
    }

    #media .media_content h2{
        font-size: 3rem;
        padding-right: 0;
        border-right: none;
        border-bottom: .5px solid #707070;
        padding-bottom: 1rem;
    }

    #media .media_content .media_link{
        padding: 0;
        margin-top: 1rem;
    }

    #media .media_content .media_link p{
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .footer_contact_txt p{
        margin: 0;
    }

    footer .wrap{
        width: 85%;
        padding: 2rem 0;
    }

    footer .wrap p{
        line-height: 150%;
    }

    footer .wrap .footer_logo{
        height: 5rem;
        margin-bottom: 2rem;
    }

    footer .wrap .foot_banner{
        margin: 2rem 0;
        height: 12rem;
    }

    footer .wrap .copylight{
        text-align: right;
    }

    #nav .nav_top ul li details ul li{
        padding: 3rem 1rem 0 1rem;
    }

    header nav ul li details ul li a{
        font-size: 2rem;
    }
}