@charset "UTF-8";
.header_nav .trigger p{
    margin-top: .3rem !important;
}

.header_nav .trigger::before{
    top: .3rem !important;
}

/* 想い */
#thought{
    max-width: 1440px;
    width: 60%;
    margin: auto;
    margin-bottom: 15rem;
}

#thought .wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

#thought h2 small{
    position: relative;
    padding-bottom: .5rem;
}

#thought h2 small::before{
    position: absolute;
    content: "";
    height: .1rem;
    width: 7rem;
    background: #9093BB;
    bottom: 0;
    right: -7rem;
}

/* サービス */

#service{
    margin-bottom: 10rem;
}


#service h2{
    text-align: center;
    position: relative;
    padding-bottom: 2rem;
    margin-bottom: 10rem;
}

#service h2::before{
    position: absolute;
    content: "";
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    height: .1rem;
    width: 40rem;
    background: #9093BB;
}

#service .service_list{
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    margin-bottom: 10rem;
}

#service .service_list a{
    width: 33.3%;
    text-align: center;
    background-color: #fff;
    background-image:
      radial-gradient(#171c5f17 30%, transparent 30%);
    background-size: 1rem 1rem;
    padding: 10rem 0;
    position: relative;
}

.serv_arrow{
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 50%;
    right: 5rem;
    background: none;
    transition: all .5s ease-in-out;
}

.first:hover .serv_arrow{
    right: 1rem;
    transition: all .5s ease-in-out;
}

.pale:hover .serv_arrow{
    right: 1rem;
    transition: all .5s ease-in-out;
}

.third:hover .serv_arrow{
    right: 1rem;
    transition: all .5s ease-in-out;
}

#service .service_list .pale{
    background-image:
      radial-gradient(#171c5f0a 30%, transparent 30%);
}

#service .service_list h3{
    font-size: 6rem;
}

#service .service_list a p{
    color: #202253;
    font-size: 2rem;
}

#service .wrap{
    max-width: 1440px;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax_box{
    height: 30rem;
}

.parallax_content{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("../img/parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

/* news */
#news{
    background: #FBFBFB;
    padding: 10rem 0 15rem 0;
}

#news .news_inner{
    max-width: 1440px;
    width: 60%;
    margin: auto;
}

#news h2{
    margin-bottom: 5rem;
}

#news h2 small{
    position: relative;
    padding-bottom: .5rem;
}

#news h2 small::before{
    position: absolute;
    content: "";
    height: .1rem;
    width: 7rem;
    background: #9093BB;
    bottom: 0;
    right: -7rem;
}

#news .news_list{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 5rem;
}

#news .news_list .news_content{
    width: 23%;
    background: white;
    transition: all .2s ease-in-out;
}

#news .news_list .news_content:hover{
    opacity: .5;
    transition: all .2s ease-in-out;
}

#news .news_list .news_content img{
    width: 100%;
}

#news .news_list .news_content h4{
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

#news .news_list .news_content p{
    font-size: 1.5rem;
    text-align: center;
}

#news .wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#news .wrap .news_arrow{
    font-size: 4rem;
    font-weight: 900;
    position: relative;
    margin-right: 10rem;
}

.news_arrow_img{
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 0;
    right: -10rem;
    transition: all .2s ease-in-out;
}

.news_arrow:hover .news_arrow_img{
    right: -15rem;
    transition: all .3s ease-in-out;
}

/* その他 */
#other{
    background: #FBFBFB;
    padding-bottom: 15rem;
}

#other h2{
    text-align: center;
    position: relative;
    padding-bottom: 2rem;
    margin: 0;
    margin-bottom: 10rem;
}

#other h2::before{
    position: absolute;
    content: "";
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    height: .1rem;
    width: 40rem;
    background: #9093BB;
}

#other .wrap{
    max-width: 1440px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
}

#other .wrap a{
    transition: all .2s ease-in-out;
}

#other .wrap a:hover{
    box-shadow: inset 5px 4px 5px 4px #bbbbbb;
    transition: all .2s ease-in-out;
}

#other .wrap .blog, #other .wrap .wevies, #other .wrap .selectia{
    width: 32.5%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

#other .wrap .blog .other_txt, #other .wrap .wevies .other_txt, #other .wrap .selectia .other_txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#other .wrap .blog h3, #other .wrap .wevies h3, #other .wrap .selectia h3{
    font-size: 3.5rem;
}

#other .wrap .blog h3{
    border-left: 1.7rem solid #C7C7C7;
    padding-left: 1rem;
}

#other .wrap .wevies h3{
    border-left: 1.7rem solid #585858;
    padding-left: 1rem;
}

#other .wrap .selectia h3{
    border-left: 1.7rem solid #313671;
    padding-left: 1rem;
}

#other .wrap .blog img, #other .wrap .wevies img, #other .wrap .selectia img{
    width: 50%;
    margin: 2rem 0;
}

#other .wrap .blog p, #other .wrap .wevies p, #other .wrap .selectia p{
    margin: auto 2rem;
    font-size: 1.5rem;
}

@media screen and (min-width:768px) and (max-width:1365px){
    #thought{
        width: 80%;
        margin-bottom: 15rem;
    }

    #service{
        margin-bottom: 15rem;
    }

    #service .wrap{
        width: 80%;
    }

    #service .service_list{
        margin-bottom: 5rem;
    }

    #news{
        padding: 15rem 0;
    }

    #news .news_inner{
        width: 80%;
    }

    #other{
        padding-bottom: 15rem;
    }

    #other .wrap{
        width: 80%;
    }

}

@media screen and (max-width: 767px){
    #thought{
        width: 85%;
        text-align: center;
        margin-bottom: 10rem;
    }

    #thought h2{
        position: relative;
    }

    #thought h2::before{
        position: absolute;
        content: "";
        height: 3.5rem;
        width: 1px;
        background: #9093BB;
        bottom: -5rem;
        right: 50%;
    }

    #thought h2 small::before{
        display: none;
    }

    #thought p{
        margin-top: 7rem;
        font-size: 1.9rem;
    }

    #service{
        margin-bottom: 5rem;
    }

    #service .wrap{
        width: 85%;
        text-align: center;
    }

    #service .service_list{
        flex-direction: column;
        margin-bottom: 5rem;
    }

    #service .service_list a{
        width: 100%;
        padding: 10rem 0;
    }
    
    .serv_arrow{
        top: 35%;
    }
    
    .first:hover .serv_arrow{
        right: 1rem;
        transition: all .5s ease-in-out;
    }
    
    .pale:hover .serv_arrow{
        right: 1rem;
        transition: all .5s ease-in-out;
    }
    
    .third:hover .serv_arrow{
        right: 1rem;
        transition: all .5s ease-in-out;
    }
    
    #service .service_list .pale{
        background-image:
          radial-gradient(#171c5f0a 30%, transparent 30%);
    }
    
    #service .service_list h3{
        font-size: 6rem;
    }
    
    #service .service_list a p{
        color: #202253;
        font-size: 2rem;
    }

    .parallax_box{
        height: 15rem;
    }

    #news{
        padding: 5rem 0;
    }

    #news .news_inner{
        width: 85%;
    }

    #news .news_list{
        flex-wrap: wrap;
    }

    #news .news_list .news_content{
        width: 47%;
        margin-bottom: 3rem;
    }

    #news h2{
        text-align: center;
        position: relative;
        margin-bottom: 8rem;
    }

    #news h2::before{
        position: absolute;
        content: "";
        height: 3.5rem;
        width: 1px;
        background: #9093BB;
        bottom: -5rem;
        right: 50%;
    }

    #news h2 small::before{
        display: none;
    }

    #news .news_list .news_content h4{
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    #news .news_list .news_content p{
        text-align: left;
        margin-left: 1rem;
    }

    .news_arrow_img{
        top: 0;
    }

    #other{
        padding-bottom: 5rem;
    }

    #other .wrap{
        width: 85%;
        display: block;
    }

    #other h2{
        margin-bottom: 5rem;
    }

    #other .wrap .blog, #other .wrap .wevies, #other .wrap .selectia{
        width: calc(100% - 4rem);
        margin-bottom: 5rem;
        flex-direction: row;
        padding: 2rem;
    }

    #other .wrap .blog img, #other .wrap .wevies img, #other .wrap .selectia img{
        width: 35%;
    }

    #other .wrap .blog .other_txt, #other .wrap .wevies .other_txt, #other .wrap .selectia .other_txt{
        width: 60%;
    }

    #other .wrap .other_txt h3{
        font-size: 2rem;
        margin-left: 1rem;
        border-left: 1.2rem solid #C7C7C7;
        margin-bottom: 1rem;
    }

    #other .wrap .blog p, #other .wrap .wevies p, #other .wrap .selectia p{
        margin: auto 1rem;
    }
}