@charset "UTF-8";
#kv{
    margin-bottom: 0;
}

#kv_second{
    background: url("../img/it_service/kv_second.jpg") center center/cover no-repeat;
    height: 5rem;
    margin-bottom: 35rem;
}

#it_top{
    text-align: center;
    margin: auto;
    margin-bottom: 35rem;
    max-width: 1440px;
    width: 80%;
}

#it_top p{
    width: 50%;
    margin: auto;
    margin-bottom: 10rem;
}

#it_top .it_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#it_top .it_list a{
    border: 1px solid #707070;
    padding: 2rem 0;
    font-size: 2rem;
    width: 30%;
    position: relative;
}

#it_top .it_list a img{
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 50%;
    margin-top: -2%;
    right: 2rem;
}

#wevies{
    max-width: 1440px;
    width: 80%;
    margin: auto;
    margin-bottom: 35rem;
}

#wevies h4{
    font-weight: 100;
    text-align: center;
    margin-bottom: 2rem;
}

#wevies h2{
    text-align: center;
    margin-bottom: 10rem;
}

#wevies h2 small{
    color: black;
    font-size: 2.5rem;
}

.examp_img{
    width: 65%;
    margin: 8rem auto;
}

#wevies .wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wevies .wrap p{
    margin-bottom: 8rem;
}

#wevies .wrap .sec_contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wevies .wrap .sec_contact a{
    width: 30%;
    padding: 2rem 0;
    background: #07192F;
    color: white;
    text-align: center;
    font-size: 2rem;
    margin: 0 .5rem;
    position: relative;
    border: 1px solid #07192F;
}

#wevies .wrap .sec_contact a img{
    position: absolute;
    top: 50%;
    margin-top: -3%;
    right: 1rem;
    width: 3rem;
    height: 3rem;
}

#wevies .wrap .sec_contact .white{
    background: white;
    color: #07192F;
}

@media screen and (max-width: 767px){
    #kv_second{
        margin-bottom: 5rem;
    }

    #it_top{
        width: 90%;
        margin-bottom: 5rem;
    }

    #it_top h2{
        font-size: 3.5rem;
    }

    #it_top p{
        margin-bottom: 5rem;
        width: 100%;
    }

    #it_top .it_list{
        flex-direction: column;
    }

    #it_top .it_list a{
        width: calc(95% - 5rem);
        text-align: left;
        padding-left: 5rem;
        margin: .5rem 0;
    }

    #wevies{
        width: 90%;
        margin-bottom: 8rem;
    }

    #wevies .wrap .sec_contact{
        flex-direction: column;
    }

    #wevies .wrap .sec_contact a{
        width: 100%;
    }

    #wevies h4{
        margin-bottom: .5rem;
        font-size: 3rem;
    }

    #wevies h2{
        font-size: 2.6rem;
        margin-bottom: 0;
    }

    .examp_img{
        width: 120%;
        margin: 5rem auto;
    }

    .examp_sp{
        width: 100%;
        margin: 3rem 0;
    }

    #wevies .wrap p{
        margin-bottom: 5rem;
    }
}