@charset "UTF-8";
h2{
    font-size: 4.8rem;
    font-weight: 700;
}

p{
    line-height: 200%;
}


#chage_kv{
    width: 100%;
    height: 101rem;
    background: url("../img/job_change/change_kv.png") no-repeat center center/contain;
    margin-bottom: 9.6rem;
    position: relative;
}

#chage_kv::before{
    position: absolute;
    content: "";
    width: .1rem;
    height: 4.8rem;
    background: #707070;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: -4rem;
}

#feature{
    padding: 7.5rem 0 8.5rem;
    background: #CE93A3;
}

#feature h2{
    color: white;
    text-align: center;
    margin-bottom: 6.49rem;
}

#feature .wrap{
    width: 85%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

#feature .wrap div{
    width: 23%;
}

#feature .wrap img{
    width: 31.1rem;
    margin-bottom: 4rem;
}

#feature .wrap p{
    font-size: 1.6rem;
    color: white;
}

/* interesting */
#interesting{
    padding: 6.6rem 0 12.5rem;
    background: #F1F1F1;
}

#interesting h3{
    font-size: 4.8rem;
    text-align: center;
    padding-bottom: 3.75rem;
    margin-bottom: 5.15rem;
    position: relative;
}

#interesting h3::before{
    content: "";
    position: absolute;
    height: .4rem;
    width: 8.3rem;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;
    background: #CE93A3;
}

#interesting h4{
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 7.5rem;
}

#interesting p{
    width: 69.2rem;
    margin: auto;
}

/* service */

#service{
    background: #323453;
    color: white;
    padding: 4.3rem 0 5.6rem;
    position: relative;
}

#service::before{
    content: "SERVICE";
    position: absolute;
    font-size: 12rem;
    font-weight: 900;
    color: white;
    right: 0;
    transform: translate(40%, -50%) rotateZ(-90deg);
    top: 50%;
}

#service h2{
    width: 85%;
    margin: auto;
    margin-bottom: 5.1rem;
}

#service .service_wrap{
    display: flex;
    width: 85%;
    max-width: 1440px;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#service .service_wrap .service_flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8.3rem;
}

#service .service_wrap .service_flex div{
    width: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#service .service_wrap .service_flex div img{
    margin-bottom: 2.8rem;
}

#service .service_wrap .service_flex div h3{
    font-size: 1.8rem;
    border-left: 1.7rem solid white;
    padding-left: .8rem;
    margin-bottom: 2.4rem;
}

#service .service_wrap .service_flex div p{
    font-size: 1.6rem;
    color: white;
}

.change_btn{
    background: #07192F;
    color: white;
    font-size: 2rem;
    padding: 3rem 0;
    width: 42rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease-in-out;
}

.change_btn::before{
    position: absolute;
    content: "";
    width: 4.161rem;
    height: 4.099rem;
    right: 2rem;
    transform: translate(-50%, -50%);
    top: 50%;
    background: url("../img/it_service/arrow_white.svg") no-repeat center center/contain;
    transition: all .3s ease-in-out;
}

.change_btn:hover{
    background: #9093BB;
    transition: all .3s ease-in-out;
}

.change_btn:hover::before{
    right: 0;
    transition: all .3s ease-in-out;
}


/* member */
#member{
    background: #07192F;
    color: white;
    padding: 4.3rem 0 5.6rem;
    position: relative;
}

#member::before{
    content: "MEMBER";
    position: absolute;
    font-size: 12rem;
    font-weight: 900;
    color: white;
    left: 0;
    transform: translate(-40%, -50%) rotateZ(-90deg);
    top: 50%;
}

#member h2{
    width: 85%;
    margin: auto;
    margin-bottom: 5.1rem;
}

#member .service_wrap{
    display: flex;
    width: 85%;
    max-width: 1440px;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#member .service_wrap .service_flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 8.3rem;
    position: relative;
}

#member .service_wrap .service_flex::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 6rem;
    bottom: -8rem;
    background: #07192F;
    box-shadow: 0 -7rem 1.6rem #07192F;
    z-index: 15;
}

#member .service_wrap .service_flex div{
    width: 33%;
    height: 76rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

#member .service_wrap .service_flex div:first-child::before{
    position: absolute;
    content: "";
    height: 75.7rem;
    width: 50rem;
    background: url("../img/job_change/terazono.png") no-repeat center center/contain;
    z-index: -1;
}

#member .service_wrap .service_flex div:first-child::after{
    position: absolute;
    content: "";
    height: 63rem;
    width: 46rem;
    opacity: .2;
    background: url("../img/job_change/terazono_bg.svg") no-repeat center center/contain;
    z-index: -2;
}

#member .service_wrap .service_flex div:nth-child(2)::before{
    position: absolute;
    content: "";
    height: 75.7rem;
    width: 50.63rem;
    background: url("../img/job_change/tsuruya.png") no-repeat center center/contain;
    z-index: -1;
}

#member .service_wrap .service_flex div:nth-child(2)::after{
    position: absolute;
    content: "";
    height: 64rem;
    width: 41.85rem;
    left: 4rem;
    top: 3rem;
    opacity: .2;
    background: url("../img/job_change/turuya_bg.svg") no-repeat center center/contain;
    z-index: -2;
}

#member .service_wrap .service_flex div:nth-child(3)::before{
    position: absolute;
    content: "";
    height: 75.7rem;
    width: 46.9rem;
    background: url("../img/job_change/kawasaki.png") no-repeat center center/contain;
    z-index: -1;
}

#member .service_wrap .service_flex div:nth-child(3)::after{
    position: absolute;
    content: "";
    height: 77.2rem;
    width: 54rem;
    opacity: .2;
    background: url("../img/job_change/kawasaki_bg.svg") no-repeat center center/contain;
    z-index: -2;
}

#member .service_wrap .service_flex div p{
    font-size: 1.6rem;
    color: white;
}

#member .service_wrap .service_flex div:first-child p, #member .service_wrap .service_flex div:first-child .name{
    transform: translate(-6rem, 10rem);
}

#member .service_wrap .service_flex div:nth-child(2) p, #member .service_wrap .service_flex div:nth-child(2) .name{
    transform: translate(5rem, 0);
}

#member .service_wrap .service_flex div:nth-child(3) p, #member .service_wrap .service_flex div:nth-child(3) .name{
    transform: translate(22rem, 10rem);
}

#member .service_wrap .service_flex div .name{
    height: 4.172rem;
}

#member .change_btn{
    border: .1rem solid white;
}

#jon_us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #CE93A3;
    border: 2.3rem solid #F8F8F8;
    padding: 8.8rem 0 5.5rem;
    margin-bottom: 7.2rem;
}

#jon_us h2{
    display: inline;
    background: white;
    line-height: 100%;
    padding: 2.1rem 2.8rem;
    margin-bottom: 4.1rem;
}

#jon_us img{
    width: 103.744rem;
    margin-bottom: 1.52rem;
}

#jon_us p{
    margin: 0;
    color: white;
    width: 45.2rem;
    margin-bottom: 4.6rem;
}

#ink_list{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#ink_list > div{
    border: 2.3rem solid #F8F8F8;
    width: calc(50% - 4.6rem);
    color: white;
}

#ink_list .news{
    background: #07192F;
}

#ink_list .page{
    background: #323453;
}

#ink_list > div .wrap{
    width: 70%;
    margin: auto;
    padding-top: 9rem;
}

#ink_list .news .wrap{
    padding-bottom: 12.9rem;
}

#ink_list > div .wrap h3{
    font-size: 2.4rem;
    font-weight: 900;
    margin-bottom: 1.8rem;
}

#ink_list > div .wrap > h4{
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 9.4rem;
}

#ink_list > div .wrap > div{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#ink_list > div .wrap .news_content{
    width: 45%;
    background: white;
    transition: all .2s ease-in-out;
}

#ink_list > div .wrap .news_content:hover{
    opacity: .5;
    transition: all .2s ease-in-out;
}

#ink_list > div .wrap .news_content img{
    width: 100%;
}

#ink_list > div .wrap .news_content h4{
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

#ink_list > div .wrap .news_content p{
    font-size: 1.5rem;
    text-align: center;
}

#ink_list .page .wrap img{
    width: 49.2rem;
    margin-bottom: 5.8rem;
}

#ink_list .page .wrap .change_btn{
    width: 49.2rem;
}